.collection-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
}
.collection {
  display: flex;
  position: relative;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: gray;
  margin: 1em;
  .order-details-container {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    h2 {
      @media screen and (max-width: 500px) {
        margin-left: .75em;
      }
    }
    .mat-list-base .mat-list-item {
      height: auto;
      padding: 0.5em;
    }
  }
}
