.search-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}
.books-container {
    display: flex;
    position: relative;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.placeholder-layout {
    height: calc(100vh - 128px);
}