<mat-sidenav-container
  class="sidenav-container"
  [hasBackdrop]="false"
  [style.visibility]="'hidden'"
  autosize
>
  <mat-sidenav
    #sidenav
    mode="side"
    [opened]="true"
    [fixedInViewport]="true"
    [fixedTopGap]="64"
    [fixedBottomGap]="0"
  >
    <mat-sidenav-content>
      <ng-container
        *ngTemplateOutlet="
          sideNavMenu;
          context: {
            $implicit: navItems
          }
        "
      ></ng-container>
    </mat-sidenav-content>
  </mat-sidenav>
</mat-sidenav-container>

<div class="mobile-bar">
  <ng-container
    *ngTemplateOutlet="
      mobileMenu;
      context: {
        $implicit: navItems
      }
    "
  ></ng-container>
</div>

<ng-template #sideNavMenu let-navItems;>
  <mat-list>
    <mat-list-item
      *ngFor="let item of navItems"
      [routerLink]="item.path"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon
        [matBadge]="item.notificationCount"
        matBadgeColor="primary"
        matBadgePosition="before"
        matBadgeSize="small"
        mat-list-icon
        >{{ item.icon }}</mat-icon
      >
      <div class="label">{{ item.label }}</div>
    </mat-list-item>
  </mat-list>
</ng-template>

<ng-template #mobileMenu let-navItems;>
    <mat-list>
      <mat-list-item
        *ngFor="let item of navItems"
        [routerLink]="item.path"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon
          [matBadge]="item.notificationCount"
          matBadgeColor="primary"
          matBadgePosition="after"
          matBadgeSize="medium"
          mat-list-icon
          >{{ item.icon }}</mat-icon
        >
        <div class="label">{{ item.label }}</div>
      </mat-list-item>
    </mat-list>
  </ng-template>
