// @import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/theming';

@include mat-core();

$candy-app-primary: mat-palette($mat-pink);
$candy-app-accent: mat-palette($mat-blue-grey, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

$candy-app-theme: mat-dark-theme(
  (
    color: (
      primary: $candy-app-primary,
      accent: $candy-app-accent,
      warn: $candy-app-warn,
    ),
  )
);

@include angular-material-theme($candy-app-theme);
