<mat-card class="item-card">
  <mat-card-header>
    <div class="left">
      <mat-card-title>{{ item?.product?.volumeInfo?.title }}</mat-card-title>
      <mat-card-subtitle>{{
        item?.product?.volumeInfo?.subtitle
      }}</mat-card-subtitle>
      <strong>Quantity: {{ item?.quantity }}</strong>
    </div>
    <div class="right">
      <div mat-card-avatar class="header-image">
        <img
          src="{{ item?.product?.volumeInfo?.imageLinks?.smallThumbnail }}"
          alt="{{ item?.product?.volumeInfo?.title }}"
        />
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div
      class="description"
      [innerHTML]="item?.product?.volumeInfo?.description"
    ></div>
    <div class="authors" *ngIf="item?.product?.volumeInfo?.authors">
      <h4>Written by:</h4>
      <div>{{ item?.product?.volumeInfo?.authors }}</div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      (click)="viewItem(item?.product?.id)"
    >
      View More
    </button>
  </mat-card-actions>
</mat-card>
