<aside>
  <div
    class="collection-container"
    *ngIf="collections && collections.length > 0; else emptyCollection"
  >
    <div
      class="collection"
      *ngFor="let collection of collections; index as i; trackBy: trackByFn"
    >
      <mat-divider></mat-divider>
      <div class="order-details-container">
        <h2>{{ collection.orderId }}</h2>
        <div class="address-info">
          <mat-list role="list">
            <mat-list-item role="listitem">
              Name: {{ collection.user.firstName }}
              {{ collection.user.lastName }}
            </mat-list-item>
            <mat-list-item role="listitem">
              Email: {{ collection.user.email }}
            </mat-list-item>
            <mat-list-item role="listitem" *ngIf="collection.user.phone">
              Phone Number: {{ collection.user.phone }}
            </mat-list-item>
            <mat-list-item role="listitem">
              Address: {{ collection.user.address }}
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <mat-divider></mat-divider>
      <app-item-card
        [item]="item.product"
        [options]="layoutOptions"
        [quantity]="item.quantity"
        class="collection-card-container"
        *ngFor="let item of collection.items; index as j; trackBy: trackByFn"
      ></app-item-card>
    </div>
  </div>
</aside>

<ng-template #emptyCollection>
  <div class="placeholder-layout">
    <div class="title">
      <h1>Your Collection is empty!</h1>
    </div>
    <div class="container">
      <div class="image-container">
        <mat-icon color="accent">shopping_bag</mat-icon>
      </div>
      <div class="paths">
        <button mat-raised-button color="primary" routerLink="/books">
          Go to Library
        </button>
      </div>
    </div>
  </div>
</ng-template>
