aside {
  .container {
    text-align: center;
  }
  .image-container .mat-icon {
    width: 100%;
    height: 100%;
    font-size: 15em;
  }
  .paths {
    display: flex;
    justify-content: space-evenly;
  }
}
