<aside>
    <div class="cart-container" *ngIf="cartItems && cartItems.length > 0;else emptyCart">
        <mat-card class="item-card" *ngFor="let cartItem of cartItems;trackBy: trackByFn">
            <mat-card-header>
                <div class="left">
                    <mat-card-title>{{ cartItem?.product?.volumeInfo?.title }}</mat-card-title>
                    <mat-card-subtitle>{{ cartItem?.product?.volumeInfo?.subtitle }}</mat-card-subtitle>
                </div>
                <div class="right">
                    <div mat-card-avatar class="header-image">
                        <img src="{{ cartItem?.product?.volumeInfo?.imageLinks?.smallThumbnail}}" alt="{{ cartItem?.product?.volumeInfo?.title }}">
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content>
                <p class="description">
                    {{ cartItem?.product?.volumeInfo?.description }}
                </p>
                <div class="authors">
                    <h4>Written by:</h4>
                    <div>{{ cartItem?.product?.volumeInfo?.authors }}</div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="removeItem(cartItem?.product?.id)">
                    Remove
                    <mat-icon>delete</mat-icon>
                </button>
                <div class="update-btns-container">
                    <mat-icon (click)="decrementQuantity(cartItem?.product?.id)">remove_circle</mat-icon>
                    <button mat-mini-fab color="primary">{{ quantityMap[cartItem!.product!.id] }}</button>
                    <mat-icon (click)="incrementQuantity(cartItem?.product?.id)">add_circle</mat-icon>
                </div>
            </mat-card-actions>
        </mat-card>

        <button mat-raised-button color="primary" (click)="proceedToCheckout()">Proceed to Purchase</button>
    </div>
</aside>

<ng-template #emptyCart>
    <div class="placeholder-layout">
        <div class="title">
            <h1>Your cart is empty!</h1>
        </div>
        <div class="container">
            <div class="image-container">
                <mat-icon color="accent">add_shopping_cart</mat-icon>
            </div>
            <div class="paths">
                <button mat-raised-button color="primary" routerLink="/books">Go to Library</button>
            </div>
    
        </div>
    </div>
</ng-template>