<aside>
  <app-book-card
    *ngIf="book; else noBook"
    [book]="book"
    mode="full"
    class="full"
    [quantity]="quantity"
  ></app-book-card>
</aside>

<ng-template #noBook>
  <div class="placeholder-layout">
    <div class="title">
      <h1>Book Not Found!</h1>
    </div>
    <div class="container">
      <div class="image-container">
        <mat-icon color="accent">error_outline</mat-icon>
      </div>
      <div class="paths">
        <button mat-raised-button color="primary" routerLink="/books">
          Go to Library
        </button>
      </div>
    </div>
  </div>
</ng-template>
