:host(.book-card-container) {
  max-width: 400px;
  margin: 1em;
  width: 100%;
  @media screen and (max-width: 768px) {
    max-width: 100vw;
  }
}

:host(.collection-card-container) {
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    max-width: 100%;
    .left {
      text-align: center;
      margin-bottom: 0.5em;
    }
  }
}

:host(.cart-card-container) {
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
}
.book-card {
  .mat-card-header {
    display: flex;
    justify-content: flex-start;
    padding: 1em 0;
    @media screen and (max-width: 768px) {
      display: block;
      text-align: center;
    }
  }

  .left {
    max-width: 90%;
    @media screen and (max-width: 768px) {
      max-width: 100%;
      text-align: center;
    }
  }

  .right {
    position: absolute;
    right: 1em;
    top: 0.5em;
    .header-image img {
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      border: 1px solid #000;
    }
    @media screen and (max-width: 768px) {
      top: 0;
      display: flex;
      justify-content: center;
      position: relative;
      right: 0;
      .mat-card-avatar {
        height: auto;
        width: auto;
        border-radius: 50%;
        flex-shrink: 0;
        object-fit: cover;
        img {
          position: relative;
          width: auto;
          height: auto;
          max-width: 250px;
        }
      }
    }
  }

  .mat-card-title {
    margin-bottom: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
    @media screen and (max-width: 768px) {
      max-width: 100%;
    }
  }
  h4 {
    font-weight: 700;
    margin-bottom: 0;
  }
  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  &.light {
    @media screen and (max-width: 768px) {
      max-width: 85%;
      margin: 0 auto;
    }
  }
}

.item-card {
  max-width: 800px;
  margin: 1em;
  width: 100%;
  @media screen and (max-width: 768px) {
    max-width: 100%;
    margin: 1em 0;
    width: 80%;
  }
  .mat-card-header {
    display: flex;
    justify-content: flex-start;
    padding: 1em 0;
    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  .right {
    position: absolute;
    right: 1em;
    top: 0.5em;
    @media screen and (max-width: 768px) {
      position: relative;
      right: 0;
      top: 0;
      .mat-card-avatar {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
      }
    }
    .header-image img {
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      border: 1px solid #000;
      @media screen and (max-width: 768px) {
        position: relative;
        width: auto;
        height: auto;
        max-width: 250px;
      }
    }
  }

  .mat-card-title {
    margin-bottom: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
    @media screen and (max-width: 768px) {
      max-width: 100%;
      text-align: center;
    }
  }
  h4 {
    font-weight: 700;
    margin-bottom: 0;
  }
  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
